h1{
    font-size: xx-large;
     color:yellow;
     margin-left: 30px;
 } 
 .First{
     font-size: xx-large;
      color:red;
      margin-left: 30px;
  } 
 
  .Second{
     font-size: xx-large;
      color:blueviolet;
      margin-left: 30px;
  } 
 